:root {
    --clr-primary: #2874f0;
    --clr-btn-primary: #6969ff;
  }
  
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    padding-inline: 4rem;
    /* padding-block: 1.4rem; */
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .container {
    width: min(90%, 1000px);
    margin-inline: auto;
  }
  
  .link {
    color: white;
    text-decoration: none;
  }
  
  .link:hover,
  .link:focus-visible {
    text-decoration: underline;
    color: white;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }

  .brand {
    color: #fff;
    font-size: 28px;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 20px;
    align-items: center;
  }
  
  .header-search {
    flex: 1;
    border: 2px solid #fff;
    background-color: transparent;
    font: inherit;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: #fff;
  }

  /* product-container  */
  .product-container {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
    gap: 1em;
    padding: 1.5rem;
  }

  .product-container.light {
    background-color: transparent;
  }
  .product-container.dark {
    background-color: #333;
  }

  @media (max-width: 350px) {
    header{
      display: flex;
    }
    .product-container {
      grid-template-columns: 1fr;
    }  
  }
  
  .product-img {
      height: 150px;
      object-fit: contain;
      margin-inline: auto;
  }

  .likebtn{
    font-size: 1.2em;
  }
  .likebtn.dark{
    font-size: 1.2em;
  }

  /* search */
  .search{
    background-color: transparent;
    color: #fafafa;
    width: 50%;
    padding: .5rem ;
    border: 2px solid #fafafa;
    border-radius: .5rem;
    outline: 0;
  }

  /* product-card */

  .product-link {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    text-decoration: none;
    color: #000;
  }
  
  .product-link:hover,
  .product-link:focus-visible {
    text-decoration: underline;
  }

  .product-card {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: box-shadow 0.2s ease;
    display: grid;
    gap: 1em;
  }

  .product-card.light {
    background: #fafafa;
  }
  .product-card.dark {
    background: #4d4d4d;
    color: #fff ;
  }
  
  .product-card:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background-color: white;
  }
  .product-card.dark:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background-color: #0d0101;
  }
  
  .product-title{
    font-size: 1.2rem;
  } 

  .product-title.dark{
    font-size: 1.2rem;
    color: #fff;
  }

  .flex{
    display: flex;
    justify-content: space-between;
  }

  .flex > *  {
    margin: 0;
  }

  .btn {
    font: inherit;
    padding: 0.5em 1em;
    border: none;
    outline: transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover,
  .btn:focus-visible {
    opacity: 0.8;
  }

  /* Productscard CSS */
.product-description {
  margin: 0;
}

.product-description,
.product-rating {
  color: #717171;
}

.product-price {
  font-size: 1.2em;
  font-weight: 600;
}

.product-rating {
  background-color: #fef54f;
  color: #9d5800;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3em;
}

.product-stock {
  border-bottom: 2px solid orange;
}

.product-discount {
  padding: 0.2em 0.5em;
  border-radius: 5px;
  background-color: #c5ffc5;
  color: #117d11;
  font-weight: 600;
}

.product-card.dark p:not(.product-rating, .product-discount) {
  color: #fff;
}

.btn[data-type="add-to-cart"] {
  background-color: var(--clr-btn-primary);
  color: white;
  font-weight: 600;
  align-self: end;
  justify-self: center;
}

.btn[data-type="buy-now"] {
  background-color: #d43200;
  color: #fff;
}

  /* Error Page */
  div .error{
    margin: auto;
    text-align: center;
    width: 640px;
    font-size: 2rem;
  }

  .errorNumber{
    color: var(--clr-primary);
    font-size: 7em;
    font-weight: 600;
  }

  /* light and dark mood css */
  .white-content {
    background: #e4e4e4;
  }  


  /* dark mood and light */
  .theme-btn {
    padding: 0.8em;
    border-radius: 10px;
    border: none;
    background: #ffffff30;
    color: white;
    cursor: pointer;
    font-size: 0.9em;
  }

.light{
  background-color: var(--clr-primary);
}

.dark{
  background-color: #1b1b1b;
  color: #fff;
}

.modeLabel {
  color: white;
}

.switch{
  /* background-color: #000; */
  display: flex;
  align-items: center;
  gap: .2em;
}

/* cart-page styles */
.cart-page {
  background-color: #fff;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.7rem;
}

.cart-page p {
  margin-block: 0.5em;
}

.cart-page > * {
  background-color: #f3f3f3;
  color: #000;
  padding: 1.5rem;
  border-radius: 5px;
}

.cart-products {
  grid-column: span 2;
}

.cart-products__card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.cart-products__card > img {
  max-width: 200px;
}

.cart-products__details {
  flex: 1;
}

.cart-products__title {
  font-size: 1.3rem;
}

.cart-products__discount {
  color: green;
  font-weight: 600;
}

.cart-products__controls {
  display: flex;
  align-items: center;
  gap: 2em;
}

.cart-products__controls--quantity {
  display: flex;
  align-items: center;
  gap: 1em;
}

.cart-products__controls--quantity input {
  max-width: 50px;
  border-radius: 5px;
  border: 1px solid;
  font: inherit;
  font-size: 0.8rem;
  padding-block: 0.5em;
  text-align: center;
}

.cart-item-count {
  background-color: white;
  color: #000;
  /* width: 2rem;
  height: 2rem; */
  padding: 0.2em 0.6em;
  display: inline-block;
  border-radius: 50px;
  font-size: 0.8em;
}

/* filter css */

.home-main {
  display: grid;
  align-items: start;
  gap: 1em;
  grid-template-columns: repeat(5, 1fr);
  padding: 1.5rem;
}

.filter-container {
  background: white;
  padding: 1em;
  position: sticky;
  top: 0;
}

.brand-filter {
  list-style: none;
  padding-inline-start: 1em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.sort-select {
  padding: 0.5em 1em;
  font: inherit;
  margin-inline-start: 1em;
}

.products-sort-option {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
}